$gray: rgb(47, 49, 54);
$dark: rgb(32, 34, 37);
$lightGray: rgb(55, 57, 62);
$textgray: rgb(188, 188, 189);
$textwhite: rgb(255, 255, 255);

.alignRight {
  align-self: flex-end;
}
.chatContainer {
  display: flex;
  color: $textwhite;
  margin-bottom: 20px;

  img {
    width: 50px;
    height: 50px;
    margin: 20px 10px 0 10px;
    border-radius: 50%;
    object-fit: cover;
  }
  .reverse {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .messageContainer {
    h4 {
      margin-bottom: 5px;
    }
    span {
      color: $textgray;
      font-size: 10px;
    }

    .messageBox {
      display: inline-block;
      max-width: 600px;
      padding: 10px;
      border-radius: 5px;
      background-color: $dark;
      p {
        margin: 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
          'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 15px;
      }
    }
  }
}
