$gray: rgb(47, 49, 54);
$dark: rgb(32, 34, 37);
$lightGray: rgb(55, 57, 62);
$textgray: rgb(188, 188, 189);
$textwhite: rgb(255, 255, 255);
$extralightgray: rgb(67, 70, 77);
$green: rgb(90, 163, 99);
$red: rgb(204, 90, 82);
.friendContainer {
  position: relative;
  border-radius: 10px;
  margin: 4px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  color: $textwhite;
  padding: 6px;
  box-sizing: border-box;
  cursor: pointer;
  .imgContainer {
    position: relative;
    margin: 0px 15px 0px 5px;
    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .btnContainer {
    margin-left: auto;
    display: flex;
    button,
    a {
      border-radius: 50%;
      background-color: $gray;
      border: none;
      width: 35px;
      height: 35px;
      color: $textgray;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
      font-size: 17px;
    }
    .yes:hover {
      background-color: $lightGray;
      color: $green;
    }
    .no:hover {
      background-color: $lightGray;
      color: $red;
    }
    .chat:hover {
      background-color: $lightGray;
      color: $textwhite;
    }
  }
}
.friendContainer:hover {
  background-color: $extralightgray;
}
