$gray: rgb(47, 49, 54);
$dark: rgb(32, 34, 37);
$lightGray: rgb(55, 57, 62);
$textgray: rgb(188, 188, 189);
$textwhite: rgb(255, 255, 255);
$red: rgb(201, 69, 67);
$blue: rgb(90, 100, 234);
$darkRed: rgb(163, 56, 55);
$darkBlue: rgb(77, 85, 197);
@mixin btn {
  border-radius: 5px;
  height: 30px;
  width: 80px;
  border: none;
  background-color: $gray;
  color: $textwhite;
  cursor: pointer;
  font-weight: bold;
}
.myAccountContainer {
  * {
    margin: 0;
    padding: 0;
  }
  color: $textwhite;
  width: 700px;
  margin-left: 50px;
  .myAccount,
  .myPassword,
  .deleteAccount {
    border-bottom: 2px solid $lightGray;
    padding: 50px 0px;
    h3 {
      margin-bottom: 20px;
    }
  }

  .myPassword {
    display: flex;
    flex-direction: column;
    button {
      @include btn();
      background-color: $blue;
    }
    button:hover {
      background-color: $darkBlue;
    }
    img {
      margin-left: auto;
    }
  }
  .deleteAccount {
    p {
      color: $textgray;
      margin-bottom: 15px;
    }
    .closeAccountBtn {
      @include btn();
      background-color: $red;
    }
    .closeAccountBtn:hover {
      background-color: $darkRed;
    }
    .deleteAccountBtn {
      @include btn();
      border: 1px solid $red;
      margin-left: 20px;
    }
    .deleteAccountBtn:hover {
      background-color: $darkRed;
    }
  }
}
